;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "0.9.1"]
  [re-frame "0.10.8"]
  [cljs-bean "1.5.0"]
  [better-cond "2.1.0"]]

 :builds
 {:app
  {:target     :browser
   :modules    {:base {:entries [demo.core]}}
   :output-dir "public/js/compiled"
   :asset-path "/js/compiled"}}}
